body {
    background-color: black;
    color: rgb(165, 120, 66);
    font-family: Verdana, Tahoma, sans-serif;
    margin: auto;
    max-width: fit-content;
}

banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    border-width: 20px;
    height: 200px;
    width: 630px;
    text-align: left;
    background-color: #FDA9D3;
}


h1 {
    margin-bottom: 50px;
    font-size: 35px;
    width: 140px;
}

.menu banner {
    display: flex;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline-flex;
    align-content: center;  
}

ul {
    padding: 20px;
    list-style-type: circle;
}

#abt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 10px;
    padding: 0px;
    border-width: 20px;
    height: 200px;
    text-align: left;
    background-color: #FDA9D3;  
    }

h2 {
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}

#villzies {
    display: left;
    height: 150px;
    width: 150px;
    margin: 10px;
}

p {
max-width: 500px;

}

#values {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    border-width: 20px;
    height: 200px;
    width: 630px;
    text-align: left;
    background-color: #FDA9D3;
}

#pup {
display: flex;
margin-top: 10px;
margin-left: 10px;
height: 300px;
width: 620px;
}

#duck {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
height: 150px;
width: 315px;    
}

#cat {
margin-top: 10px;
margin-bottom: 10px;
height: 150px;
width: 300px;  
}

h3 {
display: flex;
font-size: 25px;
margin-left: 10px;
text-align: left;
list-style: none;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    border-width: 20px;
    height: 100px;
    text-align: left;
    background-color: #FDA9D3;
}

#contact ul {
    list-style-type: none;
}

@media screen and (max-width: 768px) {
   body {
    background-color: rgb(226, 204, 162);
   }
}

@media screen and (max-width: 576px) {
    body {
background-color: blueviolet;
color: black;
    }

    #pup {
        width: 310px;
        margin-left: 170px;
    }
    #cat {
    width: 150px;
    }
    #duck {
        width: 150px;
        margin-left: 170px;
        margin-right:5px; 
    }
}
